---
import { getCollection } from 'astro:content';
const examples = await getCollection('examples');

const githubUrl = (filePath: string) => {
  return `https://github.com/story75/toasty-engine/tree/main/${filePath.replace('src/data/', '').replace('package.json', '')}`;
};
---

{examples.map(packageJson => (<div>
    <h2 id={packageJson.id}>{packageJson.data.name}</h2>
    <a href={githubUrl(packageJson.filePath)}>View source code on Github</a>
    <p>{packageJson.data.description}</p>
</div>))}

