---
import { getCollection } from 'astro:content';
const packages = await getCollection('packages');

const githubUrl = (filePath: string) => {
  return `https://github.com/story75/toasty-engine/tree/main/${filePath.replace('src/data/', '').replace('package.json', '')}`;
};
---

{packages.map(packageJson => (<div>
    <h2 id={packageJson.id}>{packageJson.data.name}</h2>
    <a href={githubUrl(packageJson.filePath)}>View source code on Github</a> -
    <a href={"https://npmjs.com/package/" + packageJson.data.name}>View package code on NPM</a>
    <p>{packageJson.data.description}</p>
</div>))}

